.button {
    background: blue;
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    flex-direction: column;

}

.wrapper>div {

    padding: 20px;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}